.video-react .video-react-poster {
  display: block;
  position: relative;
  background-position: center center;
  background-size: cover;
  z-index: 1;
}

.video-react .video-react-big-play-button {
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: rgba(43, 51, 63, 0.85);
  z-index: 2;

  &.video-react-big-play-button-hide {
    display: none;
  }
}

.video-react .video-react-control-bar,
.video-react .video-react-play-progress::after {
  font-family: $fontPrimary;
}

.video-react
  .video-react-progress-control:hover
  .video-react-mouse-display::after,
.video-react
  .video-react-progress-control:hover
  .video-react-play-progress::after,
.video-react .video-react-progress-control:hover .video-react-time-tooltip {
  visibility: hidden;
}
