.Featured {
  position: relative;

  &--primary {
    margin-bottom: 35vw;

    @include for-tablet-portrait-up {
      margin-bottom: 25vw;
    }

    @include for-tablet-landscape-up {
      margin-bottom: 15vw;
    }
  }

  &--secondary {
    
  }
}