.IntroText {
  position: relative;
  color: #ffffff;

  &--main {
    img {
      width: 100%;
      min-width: 198px;
      max-width: 300px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    @include for-tablet-portrait-up {
      display: inline-block;
      vertical-align: top;
      width: 50%;
    }
  }

  &--sub {
    margin-top: 80px;
    text-align: justify;

    h2,
    h3,
    .SignUpButton,
    .SocialIcons {
      max-width: 300px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    h2 {
      margin-bottom: 20px;
      font-size: 24px;
      font-weight: 300;
    }

    h3 {
      font-size: 16px;
      font-weight: 300;
    }

    @include for-tablet-portrait-up {
      display: inline-block;
      vertical-align: top;
      width: 50%;
      margin-top: unset;
      text-align: left;
      padding-left: 40px;

      h2,
      h3,
      .SignUpButton,
      .SocialIcons {
        margin-left: unset;
        margin-right: unset;
      }
    }
  }
}
