.Link {
  &--logo {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &--business {
    color: #e43333;
    text-decoration: underline;
    text-underline-offset: 4px;
  }

  &--home,
  &--videoList {
    color: #e43333;
  }

  &--studio {
    position: relative;
    float: right;

    span {
      color: #e43333;
      text-decoration: underline;
      text-underline-offset: 4px;
    }

    @include for-tablet-landscape-up {
      float: unset;
    }
  }

  &--works {
    span {
      position: absolute;
      right: 0;
      text-decoration: underline;
      text-underline-offset: 4px;
      color: #e43333;
    }
  }
}
