.Section--login {
  padding: 50px 8vw 25px;
  height: 67vh;
  min-height: 367px;

  .FormMessage {
    margin: 25px 0 0;

    h4 {
      margin-top: 5px;
    }
  }

  form {
    label {
      display: block;
      font-weight: 400;
      font-size: 13px;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin: 25px 0 5px;
      color: #e43333;
    }

    button,
    input {
      font-family: inherit;
      width: 100%;
      font-weight: 400;
      font-size: 13px;
      letter-spacing: 1px;
    }

    input {
      border: none;
      outline: none;
      height: 28px;
      background: none;
      border-bottom: 0.5px solid #e43333;
      color: #e43333;
    }

    button {
      position: relative;
      margin: 10px 0;
      padding: 5px;
      outline: none;
      border: none;
      color: #e43333;
      background-color: #fff;
      letter-spacing: 1px;
      width: 120px;
      left: calc(50% - 60px);
      border-bottom: 0.5px solid #e43333;
      border-right: 0.5px solid #e43333;
      -webkit-transition: all 0.1s linear;
      -moz-transition: all 0.1s linear;
      -o-transition: all 0.1s linear;
      transition: all 0.1s linear;

      &:hover,
      &:focus {
        font-size: 13px;
        cursor: pointer;
        background-color: #e43333;
        color: #fff;
        border-top: 0.5px solid #e43333;
        border-left: 0.5px solid #e43333;
      }
    }

    @include for-tablet-portrait-up {
      width: 300px;
      position: relative;
      left: calc(50% - 150px);
    }
  }
}
