.Showreel {
  display: none;
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000000;

  .ShowreelVideo {
    position: absolute;
    width: 100vw;
    height: 100vh;

    @include for-tablet-portrait-up {
      width: 60vw;
      margin: 0 20vw;
    }

    @include for-medium-window-up {
      height: calc(100vw/1920*1080);
      top: calc((100vh - 100vw/1920*1080)/2);
      left: 0vw;
    }

    @include for-tablet-landscape-up {
      width: 50vw;
      height: calc(50vw/1920*1080);
      top: calc((100vh - 50vw/1920*1080)/2);
      left: 25vw;
      margin: unset;
    }
  }

  &.is-active {
    display: block;
  }
}