.u-sf {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 4px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
     -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
       -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
          transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}